.yes-planet {
    background-color: #c86309;
    border: 2px solid black;
    color: #d8d8d8;
}

.cinema-city {
    background-color: #074fa1;
    /* border: 2px solid #1D1D48; */
    border: 2px solid black;
    color: #d8d8d8;
}

.lev-cinema {
    background-color: #b50519;
    border: 2px solid black;
    color: #d8d8d8;
}

.rav-hen-cinema {
    background: linear-gradient(to right,
            #074fa1 0%,
            #074fa1 10%,
            #c86309 10%,
            #c86309 20%,
            #074fa1 20%,
            #074fa1 30%,
            #c86309 30%,
            #c86309 40%,
            #074fa1 40%,
            #074fa1 50%,
            #c86309 50%,
            #c86309 60%,
            #074fa1 60%,
            #074fa1 70%,
            #c86309 70%,
            #c86309 80%,
            #074fa1 80%,
            #074fa1 90%,
            #c86309 90%,
            #c86309 100%);
    border: 2px solid black;
    color: #d8d8d8;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-shadow:
        -1px -1px 0 black,
        /* Top-left shadow */
        1px -1px 0 black,
        /* Top-right shadow */
        -1px 1px 0 black,
        /* Bottom-left shadow */
        1px 1px 0 black;
}

.movie-list {
    padding: 20px;
}

.movie-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 8px;
    background: none;
}

.movie-times-sub-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
    gap: 7px;
    padding: 10px;
}

.each-showtime {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    gap: 1px;
    height: 57px;
    justify-content: flex-end;
}

.showtime-background {
    background-color: rgb(101, 94, 94);
    width: 95%;
    border-radius: 12px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.showtime-time {
    padding: 5px 10px;
    margin-top: 0px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showtime-type {
    padding: 2px 8px;
    color: #fff;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    background-color: transparent;
}

.movie-poster-sub-block>img {
    width: 120px;
    height: 180px;
    border-radius: 7px;
}

.movie-poster-sub-block {
    width: 120px;
    height: 180px;
    padding: 10px;
    flex-shrink: 0;
}

.movie-info-sub-block {
    width: 250px;
    padding: 10px;
    flex-shrink: 0;
}

.movie-ratings-block {
    width: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.movie-ratings-sub-block-imdb,
.movie-ratings-sub-block-rt {
    font-size: 18px;
}
.movie-ratings-sub-block-imdb>img {
    width: 30px;
    height: 15px;
    padding-right: 10px;
}

.movie-ratings-sub-block-rt>img {
    width: 20px;
    height: 15px;
    padding-right: 5px;
}

.movie-title {
    font-size: 25px;
    font-weight: 375;
    margin-bottom: 10px;
}