.yes-planet {
    background: linear-gradient(to left, #d9710f, #b05806);
    border: 2px solid black;
    color: #d8d8d8;
}

.cinema-city {
    background: linear-gradient(to right, #186bdf, #084cab);
    border: 2px solid black;
    color: #d8d8d8;
}

.lev-cinema {
    background: linear-gradient(to right, #b50519, #5e030d);
    border: 2px solid black;
    color: #d8d8d8;
}

.rav-hen-cinema {
    background: linear-gradient(to right, #0d06da, #ab5306);
    /*main #074fa1*/
    /*main #c86309*/
    border: 2px solid black;
    color: #d8d8d8;
}

.hot-cinema {
    background: linear-gradient(to left, #f06a87, #c13043);
    border: 2px solid black;
    color: #d8d8d8;
}

.movieland-cinema {
    background: linear-gradient(to right, #58003a, #a80371);
    border: 2px solid black;
    color: #d8d8d8;
}

.movie-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider-line {
    width: 65vw;
    height: 1.3px;
    margin: 8px;
    background: linear-gradient(to right,
            rgba(141, 141, 141, 0.03),
            rgba(141, 141, 141, 0.7) 15%,
            rgba(141, 141, 141, 1) 50%,
            rgba(141, 141, 141, 0.7) 85%,
            rgba(141, 141, 141, 0.03));
    border-radius: 50px;
}

.divider-line-main {
    width: 68vw;
    height: 3.5px;
    margin: 8px;
    margin-top: 0px !important;
    background: linear-gradient(to right,
            rgba(141, 141, 141, 0.03),
            rgba(141, 141, 141, 0.7) 15%,
            rgba(141, 141, 141, 1) 50%,
            rgba(141, 141, 141, 0.7) 85%,
            rgba(141, 141, 141, 0.03));
    border-radius: 50px;
}

.movie-block {
    display: flex;
    width: 100%;
    flex-direction: row;
    /* margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 8px; */
    background: none;
}

.movie-times-sub-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-start;
    gap: 7px;
    padding: 10px;
    /**/
    /* min-width: 317px; */
    /**/
}

.each-showtime {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    gap: 1px;
    height: 57px;
    justify-content: flex-end;
}

.smaller-showtime {
    height: 39px;
    /* reduced height when all first 5 are Regular */
}

.showtime-background {
    background-color: rgb(101, 94, 94);
    width: 95%;
    border-radius: 12px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.showtime-time {
    padding: 5px 10px;
    margin-top: 0px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showtime-type {
    padding: 2px 8px;
    color: #fff;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    background-color: transparent;
}

.movie-poster-sub-block>img {
    width: 120px;
    height: 180px;
    border-radius: 7px;
}

.movie-poster-sub-block {
    width: 120px;
    height: 180px;
    padding: 10px;
    flex-shrink: 0;
}

.movie-info-sub-block {
    width: 250px;
    height: 170px;
    padding: 10px;
    padding-top: 13px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-ratings-block {
    width: 100%;
    /* padding-top: 90px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.movie-ratings-sub-block-imdb,
.movie-ratings-sub-block-rt {
    font-size: 18px;
}

.movie-ratings-sub-block-imdb>img {
    width: 30px;
    height: 15px;
    padding-right: 10px;
}

.movie-ratings-sub-block-rt>img {
    width: 20px;
    height: 15px;
    padding-right: 5px;
}

.movie-title {
    font-size: 25px;
    font-weight: 375;
    margin-bottom: 10px;
}