.cinema-color-key {
    position: absolute;
    right: 25%;
    top: 20%;
    transform: translateX(100%);
    display: inline-block;
    z-index: 20;
}

.dropdown-button-legend {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: #080461;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
}

.dropdown-menu-legend {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
    min-width: 180px;
    max-height: 290px;
    overflow-y: auto;
    background-color: rgb(24, 23, 23);
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-item-legend {
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.dropdown-item-legend .showtime-time {
    margin-right: 10px;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    border-radius: 12px;
    background-color: lightgray;
    /* Optional default background color */
}

.dropdown-item-legend span {
    font-weight: bold;
    font-size: 14px;
}

/**/
/* MOBILE STYLINGS */
/**/

@media (max-width: 700px) {
    .cinema-color-key {
        top: 1%;
        right: 26%;
    }

    .dropdown-menu-legend {
        right: 0;
        left: auto;
    }
}