/*new testing 24-11-14*/

.cinema-key {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 60px;
    /* position: fixed;
    top: 20px;
    right: 325px; */

    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.cinema-key-heading {
    padding: 12px;
    /* padding-bottom: 15px; */
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: min-content;
}

.key-item {
    display: flex;
    align-items: center;
}
.cinema-key>.key-item>span {
    font-weight: 400;
    font-size: 17px;
}

.key-item .showtime-time {
    width: 10px;
    height: 10px;
    padding: 1px;
    margin-right: 10px;
    margin-left: 10px;

    padding: 5px 10px;
    margin-top: 0px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-item span {
    font-weight: bold;
}