.coming-soon-carousel {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    color: rgb(138, 132, 132);
    position: relative;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
    border-radius: 25px;
    box-sizing: border-box;
}

.coming-soon-carousel-wrapper {
    width: 80%;
}

.coming-soon-carousel-inner {
    display: flex;
    flex-direction: row;
}

.coming-soon-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    scroll-snap-align: center;
    text-align: center;
}

.coming-soon-card>a>img {
    height: 180px;
    width: 120px;
}

.coming-soon-poster {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.coming-soon-details {
    font-size: 14px;
}

.coming-soon-title {
    font-size: 1.2em;
    margin: 0;
    height: 40px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.coming-soon-details a {
    color: #0073e6;
    text-decoration: none;
}

.coming-soon-details a:hover {
    text-decoration: underline;
}

.coming-soon-placeholder {
    width: 160px;
    height: 225px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #666;
}