.carousel-current-date {
    margin: auto;
}

.carousel-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.main-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    z-index: 2;
    padding: 20px;
}

.carousel-movie-list-area {
    width: 100%;
}