.snif-filter {
    position: absolute;
    left: 5%;
    top: 20%;
    transform: translateX(100%);
    display: inline-block;
    z-index: 20;
}

.snif-filter h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.snif-filter div {
    margin-bottom: 5px;
}

.dropdown-button-snifs {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: #080461;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
}

.dropdown-menu-snifs {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 140px;
    max-height: 290px;
    overflow-y: auto;
    background-color: rgb(24, 23, 23);
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-item-snifs {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: rgb(40, 40, 40);
    /* Default unselected background */
    color: white;
    /* Default text color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transitions */
}

/* Hover effect for unselected items */
.dropdown-item-snifs:hover {
    background-color: rgb(60, 60, 60);
    /* Slightly lighter on hover */
}

/* Style for selected (checked) item */
.dropdown-item-snifs.checked {
    background-color: #797977;
    /* Yellow background for selected item */
    color: white;
    /* Black text for contrast */
    font-weight: bold;
    /* Optional: Make the text bold for emphasis */
}

/* Optional: Remove the bottom margin for the last item */
.dropdown-item-snifs:last-child {
    margin-bottom: 0;
}