body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: radial-gradient(circle at 50% -10%, #0D1B2A, #1B263B, #0d241a) no-repeat fixed;
  background-size: cover;
  color: #c5c5c5;

  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.main-carousel-holder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.pre-carousel {
  width: 90%;
  gap: 5px;
  position: absolute;
  /* "absolute" to flow with the container above it I think */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1;
}

.home {
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main-sections-drop {
  width: 90%;
  height: 90%;
  background-color: rgb(64, 77, 77);
  border-radius: 5px
}

.testing-title-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Tahoma';
  font-size: 45px;
}

.testing-title-holder>span {
  background: linear-gradient(90deg, rgb(120, 6, 162), rgb(60, 9, 171));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  letter-spacing: 1px;
  transform: scaleX(1.15);
  display: inline-block;
}